# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Build / distribution
build/
dist/
*.egg-info/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Outputs
output/
*.pth
